@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    height: 100vh;
}
body{
    height: 100vh;
    background-image: url('../imagens/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 450px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    overflow: hidden;
}
#imagem{
    display: block;
    height: 200px;
    width: 250px;
    background-image:url('../imagens/login.jpg');
    background-size: cover;
    background-position: center center;
}
#login{
    display: block;
}
main h1{
    font-size: 1.3;
    color: rgb(0, 0, 71);
    font-family:'Kanit', sans-serif;;
}
    .entrada{
    width: 80%;
    background-color: blue;
    padding: 0px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
    .entrada > label > span{
        color: white;
        width: 15%;
        height: 100%;
        font-size: 2em;
        padding: 5px;
        margin: 0px;
        vertical-align: bottom;

}

    .input{
        height: 100%;
        width: 60%;
        padding: 10px;
        margin-left: 8px;
        margin-top: 0px;
        border-radius: 20px 0px 0px 20px;
    }
    form button{
        width: 80%;
        padding: 10px;
        background-color: rgb(29, 29, 255);
        color: white;
        border: 0px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 5px;
    } 
    form button:hover{
        background-color: rgb(95, 95, 252);
        
    }
    .bntdiv{
        width: 80%;
        background-color: rgb(219, 228, 253);
        color: white;
        border: 1px solid blue;
        border-radius: 5px;
        cursor: pointer;
        margin: auto;
    }
    .bntdiv:hover{
        background-color: rgb(152, 152, 247);
        color: white;
    }
    .bntdiv > a{
        text-decoration: none;
        color: rgb(0, 0, 104);
        font-size: 1.1em;
    }
    
        .bntdiv > span{
            vertical-align: bottom;
            color: blue;
            margin: auto;
            height: 100%;
            margin: 0%;


        }